@model UnderstandingAntiForgeryTokenInAspNetMvc.Models.Customer
@{
    ViewBag.Title = "SubmitResult";
}

<h2>SubmitResult</h2>
<div>
    <h3>
        ID: @Html.DisplayFor(m => m.Id)
    </h3>
    <br/>
    <h3>
        NAME: @Html.DisplayFor(m => m.Name)
    </h3>
</div>

